@media screen and (max-width: 800px) {
    .container-projetos{
        display: inline-block;
        width: 100%;
    }

    .box-projetos{
        margin: 3rem auto;
        width: 90%;
        height: 650px;
    }

    .box-projetos h1{
        height: 100px;
        line-height: 100px;
    }

    .banner-projetos{
        height: 100px;
    }

    .box-projetos p{
        font-size: 20px;
    }

    .container-botao__projetos{
        width: 100%;
        padding: 0;
    }

    .botao-link__projetos{
        width: 70%;
    }

    #encurta{
        height: 560px;
    }
}

@media (min-width: 801px) and (max-width: 1200px) { 
    .container-projetos{
        display: flex;
        width: 90%;
    }
    
    .box-projetos{
        margin: 3rem auto;
        width: 70%;
        height: 650px;
    }

    .banner-projetos{
        height: 150px;
    }

    .container-botao__projetos{
        width: 100%;
        padding: 0;
    }

    .botao-link__projetos{
        width: 70%;
    }
}