@media screen and (max-width:800px) {
    .botao-container__habilidades{
        width: 100%;
    }

    .skills{
        width: 90%;
    }

    #img01{
        width: 50%;
    }
    
    #img02{
        width: 50%;
    }
    
    #img03{
        width: 80%;
    }
    
    #img04{
        width: 80%;
    }
    
    #img05{
        width: 70%;
    }
    
    #img06{
        width: 40%;
    }
    



}