@media screen and (max-width: 500px) {
    .habilidade-container{
        width: 99%;
        display: inline-block;
        text-align: center;
    }
    
    .habilidades-container-card{
        width: 300px;
        margin: 2rem auto;
    }

    .front-card, .back-card{
        height: 450px;
    }

    .sub-box-back{
        height: 83px;
    }
}

@media (min-width: 501px) and (max-width: 1200px) {
    .habilidade-container{
        width: 99%;
        display: inline-block;
        text-align: center;
    }
    
    .habilidades-container-card{
        width: 400px;
        height: 650px;
        margin: 0 auto;
    }

    .front-card, .back-card{
        height: 450px;
    }
}
