@font-face {
    font-family: tommy;
    src: url('../../font/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf');
}

@font-face {
    font-family: robo;
    src: url('../../font/ROBO.ttf');
}

@font-face {
    font-family: designer;
    src: url('../../font/Designer.otf');
}

.habilidades h1{
    text-align: center;
    font-family: tommy;
    font-size: 30px;
}











