@media screen and (max-width: 800px) {
    .sobre{
        width: 90%;
        margin-top: -150px;
    }
    
    .sobre-container{
        display: inline-block;
    }

    .img-container{
        text-align: center;
        margin: 1rem 0;
    }

    .img-sobre{
        width: 40%;
    }

    .txt-sobre{
        width: 100%;
    }

    .botao-container__sobre{
        display: inline-block;
        width: 100%;
    }
    
    .botao-link__sobre{
        width: 50%;
        margin: 1rem auto;
        font-size: 20px;
    }
}


@media (min-width: 801px) and (max-width: 1300px) {
    .sobre{
        width: 80%;
    }
    
    .sobre-container{
        display: inline-block;
    }

    .img-container{
        text-align: center;
        margin: 1rem 0;
    }

    .img-sobre{
        width: 40%;
    }

    .botao-link__sobre{
        width: 100%;
    }

    .botao-link__sobre{
        width: 40%;
    }
}

@media screen and (min-width: 2400px) {
    .img-sobre{
        width: 60%;
    }
}

