@font-face {
    font-family: tommy;
    src: url('../../font/MADE\ TOMMY\ Bold_PERSONAL\ USE.otf');
}

.banner{
    background-image: url('../../img/banner.png');
    height: 700px;
}

.apresentacao{
    width: 35%;
    position: absolute;
    margin: 3rem 10rem;
    line-height: 2.5rem;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

#nome{
    font-family: tommy;
}

.botao-container{
    display: flex;
    margin-top: 1.5rem;
}

.botao-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    height: 50px;
    padding: 0.1rem;
    margin-right: 2.5rem;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 1rem;
    font-size: 20px;
    font-family: tommy;
    background-color: #000000;
    color:  #fff;
    box-shadow: 1px 1px 17px black;
}
.botao-link:hover{
    scale: 105%;
}




